.binary-clock-cont
{
	position: relative;
	display: inline-block;
}
.binary-clock-cont span
{
	box-sizing: border-box;
	display: block;
	float: left;
	width: 17px;
	height: 17px;
	margin: 1px;
	
	-webkit-transition: all 500ms;
	   -moz-transition: all 500ms;
	        transition: all 500ms;
}
.binary-clock-cont span.on
{
	background: #dedef0;
}
.binary-clock-cont span.off
{
	background: trasnparent;
}
.binary-clock-cont span.lf
{
	clear: both;
	float: left;
}